<!DOCTYPE html>
<html>
  <head>
    <title>本机ip信息查询</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
      td {
        text-align: center;
      }
      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>本机ip查询</h1>
    <br>
    <br>
    <table class="table">
      <tr>
        <td>ip:</td>
        <td><%= ip%></td>
      </tr>
      <tr>
        <td>city:</td>
        <td><%= city%></td>
      </tr>
      <tr>
          <td>user-agent:</td>
        <td><%= userAgent%></td>
      </tr>
      <tr>
        <td>region:</td>
        <td><%= region%></td>
      </tr>
    </table>
  </body>
</html>
